

<meta charset="utf-8"> 
<title>Editar información de estación</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">



<body>  

    <div class="agregarestacion" >
                    <p>Edite los campos que desea modificar de la estación</p>

        <form action="/home/estaciones/actualizar/{{datosEstacion.id_estacion}}" method="post">
            <div class="labels">
                <label for="codigo">Código</label><br>
                <label for="codigo">Nombre</label><br>
                <label for="codigo">  N° conectores</label><br>
            </div>
            <div class="inputs">
                <input type="text" value="{{datosEstacion.codigo_estacion}}" name="idestacion">
                <input type="text" value="{{datosEstacion.nombre_estacion}}" name="nombreestacion">
                <input type="text" value="{{datosEstacion.cant_conectores}}" name="tipoestacion">
            </div>
            
            <div class="submits">
                <input type="submit" name = "subirestacion" value="Actualizar datos de estación"><br>
            </div>

            <div class="submits">
                <a type="button" name="volver" href="/home/estaciones/informacion">Volver</a>
            </div>

        </form>

    </div>

</body>

